*{
    margin:0;
    padding:0;
    font-family: 'Jura', sans-serif; /*ur main font and style*/
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "heading"
                         "content"
                         "ending";
    /* min-height: 100vh; */
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}



/* headinggggggggggggggggggggggggggggggggggggggggggg */
a>img {
    position: relative;
    top:5px;

}
.page {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 50px;
    margin: 40px;
    padding:10px;
    background-color: #333;
    border-radius: 5%;
    transition: color 0.3s,
    background-color 0.3s;
}
.page:hover{
    background-color: #5e5656;
}
#heading {
    
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 250px;
    grid-area: "heading";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  1fr ;
    margin: 0px;
  }
h1>img {
    width: 235px;

}
/* contentttttttttttttttttttttttttttttttttttttttttt */
#content {
    grid-area: "content";
    height:800px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}
#content>img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
form {
    background-color: rgb(113, 161, 161);
    z-index: 0;
}
label[for="birthday"]{
    font-size:1.2em;
    color:white;
}
input[type="date"] {
    background-color:#5c6664;
    width:150px;
    height:30px;
    border-radius:10px;
    border:0;
    padding-left:10px;
    font-size:1.3em;
    color:white;
    outline: white;
}
/* trianglesssssssssss */
#triangles {
    position: relative;
    top:-10;
    height:0;
}
#triangle1{
    width: 100%;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 700px solid #555;
	border-bottom: 400px solid transparent;
    position: relative;
    z-index: 2;
    top:-121px;
}

#triangle2{
    width: 0;
    height: 0;
    border-top: 500px solid transparent;
    border-left: 700px solid #333;
    border-bottom: 0px solid transparent;
    position: relative;
    z-index: 1;
    top:-200px;
}
/* formmmmmmmmmmm */
legend{
    font-size: 1.3em;
}
form{
display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap:0;
    margin-left: 50%;
    max-width: 100%;
    margin-right:50%;
    position:absolute;
    right:-50%;
}
#title {
	height:0;
	border-top:25px solid transparent;
	border-right:50px solid #555;
	border-bottom:25px solid transparent; 
    border-bottom:100px solid grey;
    position:relative;
    z-index:3;
    top:-25px;
    left:0px;

}
h2{
    text-align: center;
    position: relative;
    top:30px;
    margin: 0px;
    color: aliceblue;
}


#formIn {
    position: relative;
    top:-70px;
    z-index: 4;
}
fieldset{
    border-radius: 9px;
    position: relative;
    top:20px;
    left: 50px;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;

}
::placeholder {
    color: white;
    opacity: 1; 
  }
::-ms-input-placeholder { 
    color: white;
}
#formPI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1 fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 30px;
    

}

input[type="text"] {
    border:0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width:75%;
    height: 30px;
    outline: none;
    font-size: larger;
    left: 40px;
}
#Acedmic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
input[type='text']:hover{
    border-bottom: 1px solid #23b499;
    color: #2b2e2e;
}
input[type='text']:hover::placeholder {
    color: #2b2e2e; ; 
}
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#contact > input {
    border:0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width:75%;
    height: 30px;
    outline: none;
    font-size: larger;
    left: 40px;    
}
#contact > input:hover{
    border-bottom: 1px solid #23b499;
    color: #2b2e2e;
}
#contact > input:hover::placeholder {
    color: #2b2e2e; ; 
}
.comment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}
.comment > label[for="comm"] {
    width:20%;
    position: relative;
    font-size: 20px;
    padding:10px;
    background-color: #5c6664;
    border-radius: 20px;
    
    top:42px;
    left: 40px;
    color:white;
}
textarea {
    z-index: 4;
    position: relative;
    top:30px;
    left: 30px;
    border:0;
    background-color: #5c6664;
    width:80%;
    height:100%;
    outline: none;
    font-size: larger;
    left: 40px;
    border-radius: 40px;
    padding: 30px;
    transition: color 0.3s,
    background-color 0.3s;
}
textarea:hover::placeholder{
    color: #2b2e2e; ; 
}
#button >*{
    position: relative;
    top:40px;
    left: 10%;
    width: 150px;
    height: 35px;
    color: white;
    background-color: #5c6664;
    border:0px;
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s;
}
#button >*:hover{
    background-color: #23b499;
    cursor: pointer;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 15em;
    height: 2em;
    line-height: 2;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
.select:hover::after {
    color: #23b499;
 }



/* endinggggggggggggggggggggggggggggggggggggggggg */
#ending {
    grid-area: "ending";
    background-color: rgb(10, 10, 48);
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 250px;
    z-index: 4;
}
#ending>div {
    position: relative;
    top: 50px;
    margin: 0px;
    padding: 0px;
}
hr {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #fff;
    margin-bottom: 20px;
}
